/*-------------------------------------------------------------------
 * styling for Easter Egg tool
 *------------------------------------------------------------------*/

body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

