body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
  margin-top: 0.1em;
  margin-left: 0.1em;
}

.eggcontainer {}

.eggimage {
  border: 1px solid black;
  max-width: 70%;
}

.egginstructions {
  font-size: 1.2em; 
  margin-top: 1em;
}

.eggfailedanswer {}

.egghide {
  display: none;
}

/*-- standard error and notice tools --*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  font-style: italic;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
